* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-image: url(bj.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

}

.hero {
    position: relative;
    height: 100vh;
    color: white;
    background: rgba(0, 0, 0, 0.699);
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px
}
.logo img {
    height: 50px;
    width: auto;

}
.nav-links a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 8px rgba(255, 0, 0, 0);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 500px;
    z-index: 2;
}

.content h1 {
    font-size: 60px;
}

.title-red {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 15px rgba(255, 0, 0, 0)a(255, 0, 0, 0.342);
}

.content p {
    margin: 20px 0;
    color: #ccc;
    line-height: 1.6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0);
}

.btn:hover {
    background: darkred;
    box-shadow: 0 0 25px red;
}

.site-footer {
  text-align: center;
  padding: 10px;
  background: #000000;
  font-size: 14px;
  color: #ffffff;
}

.footer-logo {
  width: 40px;        /* adjust size */
  margin-bottom: 1px;
  opacity: 0.9;
}


/* MOBILE NAV */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-list {
    display: none; /* hide by default */
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(255,255,255,0.95);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 998;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 0.5rem 0;
  }
}
