*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0a0a0a;
    overflow:hidden;
}

.background{
    position:absolute;
    width:100%;
    height:100%;
    background: radial-gradient(circle at 20% 30%, #330000, transparent 50%),
                radial-gradient(circle at 80% 70%, #550000, transparent 50%),
                #0a0a0a;
    
}

/* CARD */
.card{
    position:relative;
    z-index:1;
    width:900px;
    height:500px;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 20px 50px rgba(0,0,0,0.6);
}

.forms{
    width:50%;
    background:#ffffff;
    padding:50px;
    position:relative;
}

.form{
    display:none;
}

.form.active{
    display:block;
}

.form h2{
    margin-bottom:10px;
    color:#111;
}

.sub{
    margin-bottom:25px;
    color:#ff0000;
    font-size:14px;
}

.form input {
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
    color:#000;              
    font-weight:500;
}

.form input::placeholder {
    color:#333;             
    font-weight:500;
}

.form input:focus{
    border-color:#cc0000;
    outline:none;
}

.main-btn{
    width:100%;
    padding:12px;
    background:#cc0000;
    border:none;
    color:rgb(255, 255, 255);
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.main-btn:hover{
    background:#990000;
}

.divider{
    text-align:center;
    margin:20px 0;
    color:#999;
}

.switch-text{
    margin-top:20px;
    font-size:14px;
    color:#000000;
}

.switch-text span{
    color:#cc0000;
    cursor:pointer;
    font-weight:bold;
}

/* RIGHT SIDE */
.right{
    width:50%;
    background: linear-gradient(135deg, #66000000, #ffffff00);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
    text-align:center;
    background-position: center;
    background-size: co;
}

.right h2{
    margin-bottom:15px;
}

.forgot-text {
    text-align: right;
    margin-bottom: 15px;
    font-size: 13px;
}

.forgot-text span {
    color: #cc0000;
    cursor: pointer;
    font-weight: 600;
}

.forgot-text span:hover {
    text-decoration: underline;
}

.typing {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #cc0000;
    font-size: 20px;
    font-weight: bold;
    animation: typing 3s steps(30, end) forwards,
               blink 0.7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 84% }
}

@keyframes blink {
    20% { border-color: transparent }
}